include ../mixin/custom

block var
- var $theme = "likipe";
- var title = (typeof(title) === 'undefined' || title == "") ? "" : title;
- var $imgBaseUrl = "images/";
- var subPage = $theme + '-' + title.replace(/\s+/g, '-').toLowerCase();

doctype html
html(lang='vn')
	block head
		head
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			meta(name="robots", content="index, follow")
			meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
			meta(name='apple-mobile-web-app-capable', content='yes')
			meta(name='format-detection', content='telephone=no')
			meta(name='description', content='')
			meta(name='keywords', content='')
			meta(name='author', content='')
			//- base(href="/")
			link(rel='icon', href='./images/common/favicon.ico' type='image/x-icon')    
			title Title | #{title}
			//- link(rel="canonical", href="#")
			//- link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800&amp;subset=vietnamese")
			//- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900")
			link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900")

			// build:css css/plugins.min.css 
			link(href='../../bower_components/font-awesome/css/font-awesome.css', rel='stylesheet')
			link(href='../../bower_components/slick-carousel/slick/slick.css', rel='stylesheet')
			link(href='../../bower_components/fancybox/dist/jquery.fancybox.min.css', rel='stylesheet')
			// endbuild 

			link(href='css/style.css?v=1.0', rel='stylesheet', media='all', type="text/css")

			<!--[if lt IE 9]>
			script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
			script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
			<![endif]-->
			//- script(type="text/javascript", async="", src="https://www.google-analytics.com/analytics.js")

	body
		<!--[if lt IE 9]>
				<p class="chrome-outdated">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->

		// begin Loader 
		#loading-wrapper
			//- .sk-cube-grid
			//- 	- for( x = 1; x <= 9; x++){
			//- 		div(class= "sk-cube sk-cube" + x)
			//- 	- }
			.sk-folding-cube
				- for( x = 1; x <= 4; x++){
					div(class= "sk-cube sk-cube" + x)
				- }
		// end Loader 

		//- include header
		include ../includes/header

		.main-wrapper(class=subPage)
			// Start main-content section
			block content

		//- include footer
		include ../includes/footer

		noscript Your browser does not support JavaScript.
		script(src='http://maps.google.com/maps/api/js?sensor=true')
		//- script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyDa2av7wu9Vz2oy_AwG_dSv43-OGgrJUQA")

		// build:js js/plugins.min.js
		script(src='../../bower_components/jquery/dist/jquery.js ')
		script(src='../../bower_components/modernizr/modernizr.js ')
		script(src='../../bower_components/what-input/dist/what-input.js ')
		script(src='../../bower_components/foundation-sites/dist/js/foundation.min.js')
		script(src='../../bower_components/slick-carousel/slick/slick.js')
		script(src='../../bower_components/parallax.js/parallax.min.js')
		script(src='../../bower_components/countdown/dest/jquery.countdown.min.js')
		script(src='../../bower_components/fancybox/dist/jquery.fancybox.min.js')
		//- script(src='../../bower_components/imagesloaded/imagesloaded.pkgd.min.js')
		//- script(src='../../bower_components/masonry-layout/dist/masonry.pkgd.min.js')
		script(src='../../bower_components/mixitup/dist/mixitup.min.js')
		script(src='../../bower_components/gmap3/dist/gmap3.min.js')
		
		// endbuild

		script(src='js/main.js?v=1.0')
