/*-----------------------------------------
 footer-section
------------------------------------------*/
.footer-section{
    padding: 40px 0 ;

    .social-icons{
        text-align: right;
        a{
            color: #0d0d0d;
            margin-left: 15px;
            &:hover{
                @extend %color-hightlight;
            }
        }
    }
    @include media(md){

    }
    @include media-only(xs){
    
    }
}

#scroll-to-top {
    position: fixed;
    right: 30px;
    bottom: 40px;
    cursor: pointer;
    display: none;
    opacity: .7;
    z-index: 99999;
    @extend %default-transition;
    &:hover{ opacity: 1; }
    .icon-hexagon{
        width: 45px;
        height: 29px;
        margin: 10px 0;
        i{ line-height: 25px; font-size: 1rem; }
    }
}