/*-----------------------------------------
 TABLE OF CONTENT
 1. menu
 2. cart
 3. search
------------------------------------------*/

.header-section{
    position: relative;
    z-index: 99;
    background-color: rgba(33, 99, 162, 0.9);
    .logo-wrapper{
        display: inline-block;
        img{ max-height: 80px; }
    }
    // a:hover{ color: $color-highlight!important; }


}
.title-bar{ background: transparent; }
.sticky{
    background-color: rgba(33, 99, 162, 0.9);
    &.is-stuck{
        background-color: rgba(33, 99, 162, 0.9);
    }
}
.menu{
    ul{ margin-left: 0; }
    > li{
        > a{
            background-color: transparent; 
            font-weight: 600;
        }
    }
    a{ 
        color: $white; 
        text-transform: capitalize;
        &:hover{
            @extend %color-hightlight;
        }
    }
}
.menu{
    
    .is-active{
        @extend %color-hightlight;
    }
}

/*-----------------------------------------
 1. menu
------------------------------------------*/


@include media(md){

}
@include media-only(xs){
   
}
@include media-destop-first(md){
     #header-menu{
        position: absolute; right: 0; top: 100%;
        width: 100%;
        border-top: 2px solid $light-grey;
        background: $dark-grey;
    }
}
@include media-retina(){}

// @media - foundation support
@include breakpoint(medium) {

}
@include breakpoint(large) {

}