//- extends layout to your side
extends layout/layout

block var
	- title = "Home page";
block content
	h1.sr-only Home
	// Start hero-section
	section.hero-section
		#hero-slider.slick-slider.fullwidth--slider
			+fullwithCasousel("bg-hero", "WE ARE FOR <strong>ALL CHARITY / CHILDCARE / NATURE</strong> LETS MAKE A BETTER PLANET")
			+fullwithCasousel("bg-hero", "CHILDREN'S ARE FUTURE <strong>WE PROTECT CHILDREN</strong> COME WITH US")
	
	// Start hero-section

	// Start about-section
	#about.about-title.grid-container.white-bg(data-magellan-target="about")
		+title-block('ABOUT', 'HEAL IS A CHARITY WEBSITE TEMPLATE AND A NOON PROFIT ORGANIZATION WORK WORLDWIDE FOR CHILDREN IN THE BANNER OF "SAVE THE CHILDREN". WE HELP THE CHILDREN FOR PROPER PHYSICAL AND MENTAL GROWTH.')
	section.about-section.white-bg
		.grid-container
			//- +title-block('ABOUT', 'HEAL IS A CHARITY WEBSITE TEMPLATE AND A NOON PROFIT ORGANIZATION WORK WORLDWIDE FOR CHILDREN IN THE BANNER OF "SAVE THE CHILDREN". WE HELP THE CHILDREN FOR PROPER PHYSICAL AND MENTAL GROWTH.')
			+iconBlock("li_bulb", "OUR STORY", "", mediaStyle="image", ["about-01.jpg", "about-02.jpg", "about-03.jpg"])(class="flex-dir-row-reverse")
				p: strong 10 Years long run, we are working for the welfare of children. It was a little step, but it's now a big organization and worldwide activity as a child welfare non-profit organization.
				p We felt the risky environment and circumstances for children over the world. Then we started working for them in a village. Day after day, we received a delightful response from the people who keep our thinking in their mind. Now, we are helping children in more than 100 countries and huge volunteers are working worldwide.

	// End about-section

	// Start mission-section
	section.mission-section.light-bg
		.grid-container
			+iconBlock("li_params", "OUR MISSION", "", mediaStyle="video", "https://www.youtube.com/embed/WOC5kHtn_x4")
				p: strong We dream about a new world for the children with no harm. We are aiming to build a strong and a bouncing platform where anyone can work for children worldwide.
				p Together, we're going to make the future of the children where we are able to fulfill all of their requirements to keep them safe from withered world. We have already stepped out and start changing the world. Keeping safe them from war, inhumanity, Child labor, child abuse and more what we feel harmful for them.
	// End mission-section

	// Start team-section
	section#team.team-section.white-bg(data-magellan-target="team")
		.grid-container
			+title-block("TEAM", "WE WORK WORLDWIDE, HAVE A BIG TEAM WORKING DEDICATEDLY TO SAVE THE CHILD. THE TEAM CONSIST OF EXPERTS WHO FEEL CHILDREN'S' DANGER AND ENJOY THE WORK.")
			.team-slider.grid-x.grid-padding-x.medium-up-2.large-up-4
				+teamItem("team-01.jpg", "Jens Parker", "Founder")
					p Lorem ipsum dolor sit amet, consectetur adipisicing repudiandae illo natus
				+teamItem("team-02.jpg", "Jens Parker", "Founder")
					p Lorem ipsum dolor sit amet, consectetur adipisicing repudiandae illo natus
				+teamItem("team-03.jpg", "Jens Parker", "Founder")
					p Lorem ipsum dolor sit amet, consectetur adipisicing repudiandae illo natus
				+teamItem("team-04.jpg", "Jens Parker", "Founder")
					p Lorem ipsum dolor sit amet, consectetur adipisicing repudiandae illo natus
	// End team-section

	// Start team-section
	section.volunteers-section.light-bg
		.grid-container
			+iconBlock("li_user", "BECOME A VOLUNTEER", "", mediaStyle="image", ["about-02.jpg"])
				p: strong Do you like to work for children? Do you feel the slogan "Save the Children". Yes. Here, you are welcome to our team and you can work as a volunteer.
				p At first, you have to submit your information and apply for becoming a volunteer. We will review your information within a few days and then contact with you. After finalizing your information, a confirmation message will send to you with necessary documents.
				button.btn Apply Now
	// End team-section

	
	// Start service-section
	section#service.service-section.white-bg(data-magellan-target="service")
		.grid-container
			+title-block("SERVICES", "ALL OF OUR SERVICES IS CENTRALIZED TO THE WELFARE OF THE CHILDREN. WE SERVE THE CHILD WITH FOOD, EDUCATION, HABITATION, SAFETY AND EVERYTHING THE NEED.")
			.grid-x.grid-padding-x.medium-up-3
				.block--icon.cell
					+iconItem("li_star", "FUND RAISING", "")
						p We raise funds for the oppressed and affected child all over the world. We collect donation aiming to help the children and keep them safe.
						a(href="#").btn Learn More
				.block--icon.cell
					+iconItem("li_lab", "TREE PLANTING", "")
						p We arrange event to make the world green and keep the environment favorable to us. Worldwide Tree is notable one of them.
						a(href="#").btn Learn More
				.block--icon.cell
					+iconItem("li_world", "CHILD CARE", "")
						p In the present world, Childs' are living in danger, especially street Childs. We have many child care centers to care them.
						a(href="#").btn Learn More
	// End service-section

	// Start partner-section
	section.partner-section.block--bgImage(data-parallax="scroll" data-image-src=`${$imgBaseUrl}clients-bg.jpg`)
		.grid-container
			h3.separator-center OUR PARTNERS
			#partner-slider(data-slick='{"arrows": false, "slidesToShow": 4, "slidesToScroll": 4}')
				each imgUrl, i in ["client-1.png", "client-2.png", "client-3.png", "client-4.png", "client-1.png"]
					.partner-item
						a(href="#", target="_blank"): img(src=$imgBaseUrl + imgUrl, alt="")
	// End partner-section

	// Start gallery-section
	section#gallery.gallery-section.white-bg(data-magellan-target="gallery")
		.grid-container
			+title-block("GALLERY", "TAKE A LOOK AT OUR GALLERY TO SEE HOW WE ENDANGER THE CHILD. YOU MAY ALSO SEE OUR WORLDWIDE ACTIVITY AROUND THE GLOBE HOW WE WORKING FOR CHILDREN.")
			.filter-wrapper
				.show-for-medium
					button(data-filter="all").mixitup-control-active ALL
					button(data-filter=".charity") CHARITY
					button(data-filter=".nature") NATURE
					button(data-filter=".wildlife") WILDLIFE
					button(data-filter=".video") VIDEO
					button(data-filter=".children") CHILDREN
				select.select-filter.hide-for-medium
					each val in ["all", "charity", "nature", "wildlife", "video", "children"]
						option(value= (val == "ALL")  ? val : "." +val)= val
			
			#gallery-grid.grid-x.medium-up-2.large-up-4
				+galleryItem( "pr-image-1.jpg", "TITLE HERE", "Some text about the photo will go here as photo description", "video")
				+galleryItem( "pr-image-2.jpg", "TITLE HERE", "Some text about the photo will go here as photo description", "children wildlife")
				+galleryItem( "pr-image-3.jpg", "TITLE HERE", "Some text about the photo will go here as photo description", "children wildlife")
				+galleryItem( "pr-image-4.jpg", "TITLE HERE", "Some text about the photo will go here as photo description", "children wildlife")
				+galleryItem( "pr-image-5.jpg", "TITLE HERE", "Some text about the photo will go here as photo description", "video")
				+galleryItem( "pr-image-6.jpg", "TITLE HERE", "Some text about the photo will go here as photo description", "children wildlife")
				+galleryItem( "pr-image-7.jpg", "TITLE HERE", "Some text about the photo will go here as photo description", "children wildlife")
				+galleryItem( "pr-image-8.jpg", "TITLE HERE", "Some text about the photo will go here as photo description", "children wildlife")

	// End gallery-section

	// Start testimonial-section
	section.testimonial-section.block--bgImage(data-parallax="scroll" data-image-src=`${$imgBaseUrl}testimonial-bg.jpg`)
		.grid-container
			#testimonial-slider(data-slick='{"arrows": false, "slidesToShow": 1}')
				+testimonialItem("testimonial-01.png", "MARIA JOHNS", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quam consectetur deserunt delectus, maxime natus aperiam libero molestiae beatae")
				+testimonialItem("testimonial-02.png", "MARIA JOHNS", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quam consectetur deserunt delectus, maxime natus aperiam libero molestiae beatae")
	// End testimonial-section

	// Start news-section
	section#news.news-section.white-bg(data-magellan-target="news")
		.grid-container
			+title-block("NEWS", "CHECK THE NEWS OF CHILDREN WHAT GOING ON THE WORLD WITH THEM. COLLECT CHARITY WEBSITE TEMPLATES TO BUILD YOUR OWN CHARITY ORGANIZATION.")
			.grid-x.grid-padding-x.medium-up-2
				+postItem("fa-film", "news-post-1.jpg", "BLOG POST TITLE GOES HERE", "21 Feb, 2017")
					p Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.
				+postItem("fa-film", "news-post-2.jpg", "BLOG POST TITLE GOES HERE", "21 Feb, 2017")
					p Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.
				+postItem("fa-film", "news-post-3.jpg", "BLOG POST TITLE GOES HERE", "21 Feb, 2017")
					p Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.
				+postItem("fa-film", "news-post-4.jpg", "BLOG POST TITLE GOES HERE", "21 Feb, 2017")
					p Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.
		
			.btn-group-wrapper
				a.btn(href="#") View All News
	// End news-section

	// Start upcoming-event-section
	section.upcoming-event-section.light-bg
		.grid-container
			.grid-x.grid-padding-x
				.cell.medium-4
					+iconItem("li_calendar", "UPCOMING EVENT", "We create events aiming to spear the voice for children and gather for support. Please update with our events and confirm your presence.")
					.custom-slider-nav
						a(href="#").btn-prev: i.fa.fa-chevron-left
						a(href="#").btn-next: i.fa.fa-chevron-right
				mixin eventItem(imgUrl, title, date, place)
					.cell.medium-6.event-item
						.content-wrapper(data-equalizer-watch="equalizer-events")
							h4!= title
							ul.event-meta
								li.event-date
									time(datetime="") 
										i.fa.fa-clock-o
										| #{date}
								li.event-place
									i.fa.fa-map-marker 
									| Place: #{place}
						.thumbnail-wrapper
							img(src=$imgBaseUrl + imgUrl, alt="")
				.cell.auto.slider-wrapper
					.grid-x.grid-padding-x.slider-events(data-equalizer="equalizer-events" data-equalize-on="medium")
						+eventItem("post-1.jpg", "Lorem ipsum dolor sit amet, consectetur", "Aguste 29, 2014 at 3pm to 6pm", "Bronx NY, Unites States")
						+eventItem("post-2.jpg", "Event Title Goes Here", "Aguste 29, 2014 at 3pm to 6pm", "Bronx NY, Unites States")
						+eventItem("post-1.jpg", "Event Title Goes Here", "Aguste 29, 2014 at 3pm to 6pm", "Bronx NY, Unites States")

	// End upcoming-event-section

	// Start next-event-section
	section#events.next-event-section.block--bgImage(data-magellan-target="events" data-parallax="scroll" data-image-src=`${$imgBaseUrl}/event-section-bg.jpg`)
		.grid-container
			h3 OUR NEXT EVENT IN
			.divider
			#next-event-countdown.grid-x.grid-padding-x
				mixin countdownItem(name)
					.cell.small-6.medium-3.countdown-block
						.countdown-number(id= name) 00
						.countdown-name= name
				each val in ["days", "hours", "minutes", "seconds"]
					+countdownItem(val)
			button.btn Join Us
	// End next-event-section

	// Start contact-section
	section#contact.contact-section.white-bg(data-magellan-target="contact")
		.grid-container
			+title-block("CONTACT", "IF YOU FEEL, NEED WORKING FOR CHILD PLEASE CONTACT WITH US AND LET US KNOW HOW YOU LIKE TO WORK FOR THEM. CONTENT WITH US IF ANY MORE INFORMATION NEEDED.")
			.grid-x.grid-padding-x
				.cell.medium-6
					h4 DROP US A MESSAGE
					form#contact-frm(action="", name="")
						.input-container.li_user
							label.sr-only(for="user-name") Name
							input#user-name.form-control(type="text", placeholder="Name", name="name")
						.input-container.li_mail
							label.sr-only(for="user-email") Email
							input#user-email.form-control(type="email", placeholder="Email", name="email")
						.input-container.li_pen
							label.sr-only(for="user-phone") message
							textarea#user-message.form-control(placeholder="Phone", cols="45", rows="6", name="message")

						button.btn.btn-cta(type="submit") Submit
					// End contact-frm
				.cell.medium-6
					h4 CONTACT INFO
					p If you need more charity website templates or this charity website template contact with us. We will help you to make successful any of your charity works. Feel free to contact with us through mail address.
					ul.contact-list
						li.fa-map-marker 13/2 Elizabeth St, Melbourne VIC 3000, Australia
						li.fa-phone #[a(tel="+61 3146 8728") +61 3146 8728], #[a(tel="+61 3146 8728") +61 3146 8728]
						li.fa-envelope: a(mailto="support@envato.net") support@envato.net
	// End contact-section

	// Start google-map-section
	.map-container
		#googleMaps
	// End google-map-section