//- extends layout to your side
extends layout/layout

block var
	- title = "Post page";
block content
	// Start news-section
	mixin post-item(icon, title, imgUrl= false)
		article.grid-x.grid-padding-x.post-block&attributes(attributes)
			.cell.medium-2
				.post-date
					time(datetime="2014-05-12") #[span.post-day 12] May 2014 
				.post-category: i.fa(class=icon)
			.cell.medium-10
				if (block)
					block
				h2.post-title!= title
				.post-meta Posted by #[a(href="#") Kim Nilson]
				.seperator
				p Contrary to popular belief, Lorem Ipsum is not simply random text. It roots in piece to classical of Latin literature from 45 BC, making it over 2000 years old.
				p Richard McClintock a Latin professor at Hampden-Sydney College in the Virginia, looked up one more obscure Latin words, consectetur, from Lorem Ipsum passage, and going to a through the cites of the word in a classical literature, discovered the source.
				a(href="#").btn read more

	h1.show-for-sr Post
	.grid-container.content-wrapper
		.grid-x.grid-padding-x
			.cell.large-8
				// End news-section
				+post-item("fa-picture-o", "PROIN GRAVIDA NIBH VEL VELIT AUCTOR")
					.media-wrapper
						each imgUrl in ["post/01.jpg", "post/02.jpg"]
							img(src=$imgBaseUrl + imgUrl, alt="")
				+post-item("fa-quote-right", "PROIN GRAVIDA NIBH VEL VELIT AUCTOR")
					blockquote.blockquote-left In the design process, my gut instinct is my best critic. I just wished I would always listen to it!
						cite  Bryan Tamayo
				+post-item("fa-film", "PROIN GRAVIDA NIBH VEL VELIT AUCTOR")
					+embed-video(url="//player.vimeo.com/video/257450810")

				// Begin pagination
				nav(aria-label="Pagination")
					ul.pagination
						li.pagination-previous.disabled
							i.fa.fa-angle-left
							span.show-for-sr Previous page
						li.current
							span.show-for-sr You're on page
							|  1
						li: a(href="#", aria-label="Page 2") 2
						li.ellipsis(aria-hidden="true")
						li: a(href="#", aria-label="Page 6") 6
						li.pagination-next
							a(href="#", aria-label="Next page")
								i.fa.fa-angle-right  
								span.show-for-sr Next page
			aside.cell.large-4.sidebar
				.widget-wrapper
					h3 Text Widget
					p Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec