//- TABLE OF CONTENT
	1. ONE-LEVEL MENU
	2. WP MENU
	3. CART (IN HEADER)
	3. BOOTSTRAP BREADCRUMB
	5. PAGINATION      

//- 1. CAPTION CASOUSEL
mixin fullwithCasousel(urlImg, titleCaption)
	// begin slider-item
	.slider__item
		//- .thumnail-slider(data-interchange="[images/" + urlImg + "-xs.jpg, small], [images/" + urlImg + "-lg.jpg, medium]]")
		.thumnail-wrapper(data-interchange=`[images/${urlImg}-xs.jpg, small], [images/${urlImg}-lg.jpg, medium]`)
			//- img(data-interchange="[images/" + urlImg + "-xs.jpg, small], [images/" + urlImg + "-lg.jpg, medium]]", alt="")
		.slider__caption
			h2!= titleCaption
			a.btn.btn--white(href="#") Learn more
	// end slider-item
	
//- TITLE 
	.title-wrapper>h3.main-title+.sub-title>p
	+title-block("lorem <strong> sdf</strong>", "dsfl")&attributes({'data-foo': 'bar'})
	+title-block("lorem <strong> sdf</strong>", "dsfl")('data-foo'= 'bar', class="align-left")
		.separator
mixin title-block(mainTitle, subTitle= false)
	.title__wrapper.align-left&attributes(attributes)
		h3.title__main!= mainTitle
		if(subTitle)
			p.title__sub!= subTitle
		block

//- simpleMenu
mixin simple-social-icon(prefix= "fa fa-", arr = ["facebook-f", "twitter", "google-plus", "instagram"])
	.social-icons&attributes(attributes)
		each el, i in arr
			a(href="#", title="", target="_blank", rel="nofollow"): i(class= prefix + el)

//- TEAM ITEM
mixin teamItem(imgUrl, name, position)
	//- section.team-section>.team>(.avatar-wrapper>img+.team-info>.content-inner>p)+h4.team-name+p.team-position
	- 
		var holder = {
			img: "http://placehold.it/240x220",
			name: "Karen J. Wheller",
			positon: "Traveler Expert",
		}
	// Begin team Item
	.team-item.cell&attributes(attributes)
		.thumbnail-wrapper
			img(src=$imgBaseUrl + imgUrl || holder.img, alt="").img-responsive
		.caption-wrapper
			h4.team-name= name || holder.name
			h5.team-positon= position || holder.positon
			p Lorem ipsum dolor sit amet, consectetur adipisicing repudiandae illo natus
			+simple-social-icon()
	// End team Item

//- testimonial Item 
mixin testimonialItem(imgUrl, name, text)
	-
		var holder = {
				img: "http://placehold.it/240x220",
				name: "Karen J. Wheller",
				position: "Traveler Expert",
				quote: "Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.."
			}
	// Begin testimonial Item
	.testimonial__item&attributes(attributes)
		h5.separator-center= name || holder.name
		blockquote
			p= text || holder.quote
		.thumbnail-wrapper
			if (imgUrl) 
				img(src=$imgBaseUrl + imgUrl, alt="")
			
	// End testimonial Item

mixin iconBlock(icon, title, text, mediaStyle="image", ...mediaVal)
	// Begin icon Item
	.block--icon.grid-x.grid-padding-x&attributes(attributes)
		.cell.large-4
			.media-wrapper
				if(mediaStyle === "image")
					each val in mediaVal[0]
						img(src=$imgBaseUrl + val, alt="")
				if(mediaStyle === "video")
					+embed-video(...mediaVal)
		.content-wrapper.cell.auto
			+iconItem(icon, title, text)
				if (block)
					block
	// End icon Item
mixin iconItem(icon, title, text)
	.icon-wrapper.icon-hexagon
		i(class=icon, aria-hidden="true")
	h4!= title
	if (block)
		block
	else
		p!= text || "This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor."

//- VIDEO
mixin embed-video(url="//player.vimeo.com/video/257450810")
	.responsive-embed.widescreen
		iframe(src=url, frameborder="0", allowfullscreen)&attributes(attributes)

//- 6. gallery BLOCK
mixin galleryItem( imgUrl, title, text, filterVal)
	// Begin gallery-item
	figure.mix.cell(class=filterVal)&attributes(attributes)
		.gallery-item
			img(src=$imgBaseUrl + imgUrl, alt="")
			.overlay
				a(href=$imgBaseUrl + imgUrl, data-fancybox="gallery").icon-outline: i.fa.fa-plus(aria-hidden="true")
			figcaption.content-wrapper
				h5!= title
				p!= text
	// End banner block

//- 6. POST BLOCK
mixin postItem(postIcon, imgUrl, title, date, content)
	- 
		var holder = {
			img: "http://placehold.it/240x220",
			title: "Etiquette Tips for Travellers",
			date: "24 Feb 2018",
			tag: "Posted by traveller",
			text: "This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, ",
			author: "By Josaon Smith",
			comment: "21 Comments",
		}
	// Begin post-item
	article.cell.post-item&attributes(attributes)
		.thumbnail-wrapper
			img(src=$imgBaseUrl + imgUrl || holder.img, alt="")
		.post-inner
			ul.post-meta
				li: i(class="fa " + postIcon)
				li: time.date-post(datetime="")= date
			.post-details
				h4: a(href="#", title="")= title || holder.title
				if(block)
					block
				else
					p!= content || holder.text
				a.btn(href="#") Read More
	// End post-item