/*-----------------------------------------
 2. ICON FONT
------------------------------------------*/
/* 
As good of semantics as we can get
As little awkwardness for screen readers as possible

<a href="#rss" class="icon-alone">
    <span aria-hidden="true" data-icon="&#x25a8;"></span>
    <span class="screen-reader-text">RSS</span>
</a> 
*/
%iconfont{
    [data-icon]:before {
		content: attr(data-icon);
		font-family: icons;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .icon-alone {
        display: inline-block; /* Fix for clickability issue in WebKit */
    }
    .screen-reader-text { /* Reusable, toolbox kind of class */
        position: absolute; top: -9999px; left: -9999px;
    }
}
/* soical-icons@2x.png exactly twice as wide and twice as high as the normal sprites
 * @include icon-sprite(-40px, 'facebook', 'instagram');
*/
@mixin icon-sprite($width: -125px, $icon-name...){
	// i{ background: url(#{$image}/common/soical-icons@2x.png) 0 0 no-repeat; }
    @each $name in $icon-name{
        $i: index($icon-name, $name);
        .#{$name}{
            background-position-x: $width * ($i - 1);
        }
    }
}

/*
 * div::after { @include pseudo($content: '', $display: inline-block); }
 */
$slash: "\002f";
$bullet: "\2022"; // &bull;
$rightwards-arrow: "\2192"; // &rarr;
$leftwards-arrow: "	\2190"; // &larr;
$ellipsis: "\2026"; // &hellip;
$left-single-quotation: "\2018"; //&lsquo;
$left-double-quotation: "\201C"; //&ldquo;
$comma: "\002c\00a0";
@mixin pseudo($content: '', $display: inline-block){
	@if($content != ''){
		@each $icon, $value in (slash: "\002f", bullet: "\2022", left-single-quotation: "\2018") {
			@if( $content == $icon) {
				content: $value;
			}
		}
	}@else{
		content: $content;
	}
    display: $display;
}

/* https://fontawesome.com/v4.7.0/icons/
 * @include pseudo-fontawesome(angle-down){
	font-size: 14px;
   };
 */
@mixin pseudo-fontawesome($content, $position: inline-block){
	&:after{
		@each $icon, $value in (check: "\f00c", check-square-o: "\f046", chevron-right: "\f054", chevron-down: "\f078", angle-right: "\f105", angle-down: "\f107", angle-double-down: "\f103", long-arrow-right: "\f178", caret-right: "\f0da", caret-down: "\f0d7", quote-right: "\f10e") {
			@if( $content == $icon) {
				content: $value;
			}
		}
		@if( $position == inline-block){
			position: inline-block; vertical-align: middle;
			margin-left: 10px;
		}@else if( $position == absolute){
			position: absolute; left: 0px; top: 0;
			height: 100%;
		}
		font-family: FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@content;
    }
    @at-root #{&}--thick{
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: cyan;
        text-shadow: -1px -1px 0 #999, 1px -1px 0 #999, -1px 1px 0 #999, 1px 1px 0 #999;
    }
}

.icon-rounded{
    position: relative;
    display: inline-block; vertical-align: middle;
    width: 60px; height: 60px;
    text-align: center;
    line-height: 58px;
    border-radius: 100%;
    border: 1px solid $white;
    font-size: 25px;
    background-color: $orange;
    animation: radius-weaves 1.0s linear infinite;
    &:after{
        content: "";
        position: absolute; top: -30px; right: -30px; bottom: -30px; left: -30px;
        border: 1px solid $white;
        border-radius: 100%;
        visibility: hidden;
    }
    @include media(sm){
        width: 102px; height: 102px;
        line-height: 100px;
        &:after{ visibility: visible; }
    }
}
@keyframes radius-weaves {
	0% {box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 5px rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1)}
    35% {box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 0 0 2 rgba(255, 255, 255, 0.1), 0 0 0 7px rgba(255, 255, 255, 0.1), 0 0 0 13px rgba(255, 255, 255, 0.1)}
    65% {box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 0 0 4 rgba(255, 255, 255, 0.1), 0 0 0 9px rgba(255, 255, 255, 0.1), 0 0 0 16px rgba(255, 255, 255, 0.1)}
	100% {box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 0 0 5px rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0)}
}
/*-----------------------------------------
 3. SVG
------------------------------------------*/
    @function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
    }
/* 
 * @include svgBg($svgIcon, $color, $position: false, $bgSize: false);
 * @include pseudo-svgBg($type: absolute, $width: 8px, $height: 100%, $svgIcon: angle-down , $svgColor: "#292929");
 */
    // Rendering of '#' Characters In Inline SVG Data Started to Cause A Chrome Deprecation Warning
    // from fill='#e8e8e8' to fill='%23e8e8e8'
    @mixin svgBg($svgIcon, $color, $position: false, $bgSize: false){
        $viewBox: "";
        $path: "";
        $svg-awesome: [
            ["angle-right", "0 0 256 512", "M17.525 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L205.947 256 10.454 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L34.495 36.465c-4.686-4.687-12.284-4.687-16.97 0z"],
            ["angle-left", "0 0 256 512", "M238.475 475.535l7.071-7.07c4.686-4.686 4.686-12.284 0-16.971L50.053 256 245.546 60.506c4.686-4.686 4.686-12.284 0-16.971l-7.071-7.07c-4.686-4.686-12.284-4.686-16.97 0L10.454 247.515c-4.686 4.686-4.686 12.284 0 16.971l211.051 211.05c4.686 4.686 12.284 4.686 16.97-.001z"],
            ["quote-left", "0 0 512 512", "M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"],
            ["angle-down", "0 0 320 512", "M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"],
            ["chevron-right", "0 0 320 512", "M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"],
            ["check", "0 0 448 512", "M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z"]
        ];
        @each $val in $svg-awesome {
            @if($svgIcon == nth($val, 1)){
                $viewBox: nth($val, 2);
                $path: nth($val, 3);
            }
        }
        $encoded-color: str-replace('' + $color, '#', '%23');
        background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='#{$viewBox}'%3E%3Cpath fill='#{$encoded-color}' d='#{$path}'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        
        @if($position){
            background-position: $position;
        }
        @if($bgSize){
            background-size: $bgSize;
        }
    }
    @mixin pseudo-svgBg($type: absolute, $width: 8px, $height: 100%, $svgIcon: angle-down , $svgColor: "#292929"){
        position: relative;
        &:after{
            content: "";
            width: $width; height: $height;
            @if ($type == absolute){
                position: absolute; top:0; right: 0;
            }@else if ($type == inline-block){
                display: inline-block; vertical-align: middle; margin-left: 10px;
            }@else if ($type == custom){
                @content;
            }
            @include svgBg($svgIcon, $svgColor);
        }
    }

    %animateSvg{
        // stroke-width: 10;
        path {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: dash 5s linear forwards;
        }
        @keyframes dash {
            to {
                stroke-dashoffset: 0;
            }
        }
    }
    
%displayIcon{
  @include media-destop-first(md){
      &{
          font-size: 0!important;
          [class^="icon-"], [class*=" icon-"], .svg-inline--fa{
              font-size: 30px;
              display: inline-block;
          }
      }
  }
  @include media(md){
      [class^="icon-"], [class*=" icon-"], .svg-inline--fa{ display: none; }
  }
}

.ul-style{
    list-style: none;
    margin-left: 0;
    li{
        background-repeat: no-repeat;
        @include svgBg($svgIcon: chevron-right, $color: $white, $position: left 6px, $bgSize: 7px);
        padding-left: 3rem;
        margin-bottom: 6px;
        text-transform: capitalize;
        &:hover{
            @include svgBg($svgIcon: chevron-right, $color: $color-highlight);
        }
    }
    @at-root #{&}--checkIcon{
        @include svgBg($svgIcon: check, $color: $white, $position: left 2px, $bgSize: 16px);
    }
    
}