/*-----------------------------------------
 TABLE OF CONTENT
 1. @mixin fontsize
 2. @mixin title-with-line
 3. FORM RESET
 4. @mixin triangle-breabscrumb
------------------------------------------*/
/* fontsize
 * @include fontsize($xs: 3rem 3.5rem, $lg: 5rem 5.5rem);
 */
@mixin fontsize($lg, $xs: false){
  @if($xs){
    font-size: nth($xs, 1);
    @if (length($xs) >= 2){
        line-height: nth($xs, 2);
    }
    
  }

  @include media(md){
    font-size: nth($lg, 1);
    @if (length($lg) >= 2){
        line-height: nth($lg, 2);
    }
    // line-height: nth($lg, 2);
  }
}

// .title-wrapper>.main-title+.sub-title
%title{
    text-align: center;
    margin-bottom: 30px;
    %main-title{
        color: $black;
        letter-spacing: 2px;
        text-transform: uppercase;
        @include fontsize($xs: 3rem 3.5rem, $lg: 5rem 5.5rem);
    }
    %sub-title{
        // font-family: $font-subTitle;
        // font-weight: 300;
        // font-style: normal;
        letter-spacing: .04em;
        font-size: 1.614em;
        line-height: 1.25;
    }
    %separator{
        width: 25px; height: 2px;
        margin: 15px 0;
        background-color: #f7f6f2;
    }
}

/*
 * @include title-with-line(fixed-width, 60px, 2px, #eee){};
 */
@mixin title-with-line($type: fixed-width, $width: 40px, $height: 2px, $borderColor: $color-highlight){
    @if $type == fluid-width{
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
		margin-bottom: 25px;
		@content;
        &:after{
            content: "";
            position: absolute; left: 50%; bottom: 0; 
            width: $width; height: $height;
            margin-left: -($width / 2);
			background: $borderColor;  
        }
    }@else if $type == fixed-width{
		text-align: center;
        &:after{
            content: "";
            display: block;
            width: $width; height: $height;
            margin: auto;
            background: $borderColor;
            @content;
        }
    }@else if $type == multiple-lines{
        .title-wrapper{
            overflow: hidden;
            text-align: center;
        }
        display: inline-block;
        padding: 0 15px;
		position: relative;
		@content;
        &:before, &:after {
            content: "";
            width: 200%; height: $height;
			position: absolute; top: 50%;
			margin-top: -($height / 2);
			background: $borderColor;
        }
        &:before { right: 100%; }
        &:after { left: 100%; }
    }
}

@mixin border($type: gradient, $color: linear-gradient(to right,$color-purple 0,$color-highlight 100%)){
  @if ($type == dash-vertical){
    width: 2px; height: 100%;
    background-image: linear-gradient(to bottom, $color, $color 70%,  $white 70%, $white);
    background-size: 1px 12px;
  }
  @else if ($type == dash-horizonal){
    width: 100%; height: 2px;
    background-image: linear-gradient(90deg, $color, $color 70%,  $white 70%, $white);
    background-size: 24px 1px;
  }
   @else if ($type == gradient){
    &:after{
        content:"";
        display: block;
        width: 60px;
        border-bottom: 4px solid transparent;
        border-image: $color;
        border-image-slice: 1;
        margin: 0 auto ;
    }
  }
}

@mixin bullet-list($size: 3px){
    li{
        position: relative;
        padding-left: 26px;
        margin-bottom: 7px;
        &:before{
            content: "";
            position: absolute; top: 50%; left: 0px;
            border: $size solid #999;
            border-radius: 100%;
            margin-top: -$size;
        }
    }
}

@mixin truncate($width) {
    max-width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* triangle
 * $direction: up | down | left | right;
 * @include triangle($direction, $color, $size: 6px);
 */
@mixin triangle($direction, $color, $size: 6px){
  .triangle-#{$direction}{
    width: 0; height: 0;
    
    @if ($direction == up){
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-bottom: $size solid $color;

    }@else if ($direction == down){
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-top: $size solid $color;

    }@else if ($direction == left){
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-right: $size solid $color;

    }@else if ($direction == right){
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-left: $size solid $color;
    }
  }
}

// @include triangle-breabscrumb($direction: top, $width: 16px, $height: 18px, $color: $color-highlight);
@mixin triangle-breabscrumb($direction: top, $width: 16px, $height: 18px, $color: $color-highlight){
    &:before, &:after{
		content: "";
		position: absolute;
		width: 0; height: 0;
		border-style: solid;
    }
    @if($direction == top){
        &:before{
            top: 0px; right: -$width;
            border-width: $height 0 0 $width;
            border-color: transparent transparent transparent $color;
        }
        &:after{
            top: 0px; left: -$width;
            border-width: 0 0 $height $width;
            border-color: transparent transparent $color transparent;
        }
    }@else if($direction == bottom){
        &:before{
            bottom: 0px; left: -$width;
            border-width: 0 $width $height 0;
            border-color: transparent $color transparent transparent;
        }
        &:after{
            bottom: 0px; right: -$width;
            border-width: $height $width 0 0;
            border-color: $color transparent transparent transparent;
        }
    }
}   

// @include triangle-blockquote($direction: left, $width: 30px, $height: 42px, $degree: 37deg, $color: $white);
@mixin triangle-blockquote($direction: left, $width: 30px, $height: 42px, $degree: 37deg, $color: $white){
    position: relative;
    &:after{
        content: "";
        position: absolute; left: 50%; top: 100%;
        width: 0; height: 0;
        border-style: solid;
        
        @if($direction == left){
            transform: skewX(-$degree) translatex(-50%);
            border-width: $width $height 0 0;
            border-color: $color transparent transparent transparent;
        }
        @if($direction == right){
            border-width: 0px $height $width 0;
            transform: skewX($degree) translatex(-50%);
            border-color: transparent $color transparent transparent;
        }
    }
}

.badge-top{
    display: inline-block;
    text-align: center;
    color: $white;
    background: $color-highlight;
    position: absolute; 
    .main-header &, &.badge-small{
        font-size: 1rem;
        font-weight: 500;
        line-height: 7px;
        margin-left: 8px;
        padding: 4px 3px;
        text-transform: uppercase;
        top: 0; left: 10%;
    }
    &:before{
        content: "";
        position: absolute; left: 0px; bottom: -5px;
        width: 0; height: 0;
        border-style: solid;
        border-width: 5px 2px 0 0;
        border-color: $color-highlight transparent transparent transparent;
    }   
    &.orange-bg{
        background: $orange;
        &:before{
            border-color: $orange transparent transparent transparent;
        }
    }
    &.pos-right{
        &:before{
            left: auto; right: 0px; bottom: -5px;
            border-width: 0 5px 6px 0;
            border-color: transparent $color-highlight transparent transparent;
        }  
    }
}