/**
 * 2.0 - POST 
 */ 
.main-wrapper>.content-wrapper{
  padding-top: 30px;
  padding-bottom: 30px;
}
.post-block{
  margin-bottom: 30px;
  .seperator{
    border-bottom: 1px solid #f0f1f2;
    margin: 10px 0 20px 0;
    padding-bottom: 10px;
  }
  a{ color: #0d0d0d; }
  .post-meta, p{
    color: #7f7f7f;
  }
  blockquote{
    background-color: #f7f7f7;
    color: #0d0d0d;
    font-style: italic;
    border-left: 5px solid $color-highlight;
    padding: 11px 22px;
    margin: 0 0 22px;
    font-size: 20px;
  }
  .blockquote-left{
    @extend %bg-hightlight;
    color: $white;
    line-height:1.25;
    padding: 30px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    position: relative;
    z-index: -1;
    &:before{
      position: absolute; left: 30px; top: 0;
      font-size: 3em; line-height: 1;
      color: rgba(236, 240, 241, 0.3);
      content: "\f10d";
      font-family: FontAwesome;
      z-index: -1;
    }
    cite{
      color: $white;
      font-size: 16px;
      font-weight: 400;
      display: block;
    }
  }
  h2{ font-size: 1.5rem }
  h3{ font-size: 1.25rem }
  h4{ font-size: 1.15rem }
  img{ margin-bottom: 1rem; }
  @include breakpoint(medium) {
    margin-bottom: 80px;
    .blockquote-left{
      font-size: 2.25rem; 
    }
  }
}


 .post-date{
    color: $white;
    text-align: center;
    background-color: $color-highlight;
    padding: 10px 0;
    .post-day{
      font-size: 4em;
      font-weight: 900;
      line-height: .85;
      padding-bottom: 5px;
      display: block;
      font-family: Arial, Helvetica, sans-serif;
    }
 }
.post-category{
  background-color: $color-light;
  height: 60px;
  font-size: 2em;
  line-height: 50px;
  text-align: center;
  color: white;
  padding: 5px;
}
.post-title{
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0 0 0;
}
/**
 * 3.0 - BLOG SINGLE PAGE
 */
