    
// Start footer-section
#scroll-to-top.show-for-medium
    .icon-hexagon.scroll-top
        i.fa.fa-chevron-up

footer.footer-section                
    .grid-container.footer-copyright
        .grid-x.grid-padding-x.align-justify
            .cell.medium-6
                span © 2018 | Developed by 
                    a(href="#") Likipe
            .cell.medium-6
                +simple-social-icon()
// End footer-section