// @import "./plugins/_owlCarousel";
// @import "./plugins/_datePicker";
/*-----------------------------------------
 slick-slider
------------------------------------------*/
.fullwidth--slider{
    .slider__item{
        position: relative;
        img{ width: 100%; }
    }
    .thumnail-wrapper{
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 35%;
        min-height: 450px;
        @include pseudo-overlay($type-bg: gradient, $val-bg: false);
    }
    .slider__caption{
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute; width: 100%; height: 100%; top: 0; left: 0;
        z-index: 9;
        color: $white;
        text-align: center;
        h2{ 
            text-transform: uppercase; 
            @include fontsize($xs: 2rem, $lg: 3.125rem);
            font-weight: 300;
            strong{font-weight: 900; display: block;}
        }
    }
}
.slick-dots{
    position: absolute; left:0; bottom: 20px; 
    width: 100%;
    list-style: none;
    text-align: center;
    li{
        background-color: rgba(255,255,255,.3);
        border: 1px solid rgba(255,255,255,.3);
        margin: 3px;
        @include box(12px, 12px);
        display: inline-block;
        border-radius: 10px;
        cursor: pointer;
    }
    button{
        @extend .show-for-sr;
    }
    .slick-active{
        background-color: $white;
        border-color: $white;
    }
}

.custom-slider-nav{
    margin-bottom: 15px;
    > a{
        color: #4e4f4f;
        background-color: #d1d3d3;
        border-radius: 3px;
        display: inline-block;
        padding: 5px 13px;

    }
    .btn-next{ margin-left: 10px;}
}
.slick-slider{
    @extend %nav-slickSlider;
    .slick-arrow{
        @extend %slick-arrow;
    }
    .slick-prev{
        @extend %slick-prev;
    }
    .slick-next{
        @extend %slick-next;
    }
}

%nav-slickSlider{
    %slick-arrow{
        $width: 40px;
        $height: 40px;

        text-indent: -9999px;
        opacity: 0.6;
        position: absolute; top: 50%; z-index: 9;
        width: $width; height: $height;
        margin-top: - ($height / 2);
        border-left: 2px solid $white;
        border-top: 2px solid $white;
        transition: .2s all ease-out;
        
        &:hover{
            opacity: 1;
        }
    }
    %slick-prev{
        right: 30px;
        transform: rotate(135deg);
    }
    %slick-next{
        left: 30px;
        transform: rotate(-45deg);
    }        
}
.thumbnail-slider{
    background: $white;
    margin-top: 30px;
    padding: 15px 7.5px 0;
    li{
        margin: 0px 7.5px ;
    }
    img{ width: 100%; }
}